body {
    margin: 0;
    font-family: AA_typewriter;
    min-height: 100vh;
    box-sizing: border-box;
}
@font-face {
    font-family: AA_typewriter;
    src: url("/AA_typewriter.ttf");
}

html {
    scroll-behavior: smooth;
}

#container {
    background-image: url("image.jpg");
    background-size: cover;
    background-color: black;
}

/* APP///////////////////////////////////////////////// */

a {
    cursor: pointer;
}

header {
    height: 9%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.899);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    justify-content: space-evenly;
}

.head-links {
    color: rgb(235, 235, 235);
    display: block;
    font-size: 120%;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.head-links:hover {
    color: grey;
}

footer {
    height: 6%;
    width: 100%;
    color: rgb(235, 235, 235);
    background-color: rgba(0, 0, 0, 0.899);
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logos {
    margin-right: 20px;
    margin-top: 2px;
}

.social-logo {
    margin-right: 10px;
    height: 30px;
    transition: filter 0.3s ease-in-out;
}

.social-logo:hover {
    filter: brightness(0.4);
    cursor: pointer;
}

.copyright {
    margin-left: 20px;
}

.headlines {
    color: rgb(235, 235, 235);
    padding-top: 5%;
    text-align: center;
    font-size: 320%;
}

/* HOME ////////////////////////////////////////////// */

.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.album {
    height: 55%;
    overflow: hidden;
    border: 2px solid rgba(20, 20, 20, 0.842);
    box-shadow: 5px 5px 15px 0px rgb(26, 26, 26);
}

.message {
    color: rgb(235, 235, 235);
    height: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.days {
    font-size: 320%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.listen {
    text-decoration: none;
    color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
    box-shadow: 0 2px rgba(172, 172, 172, 0.58);
    border-radius: 2px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.listen:hover {
    color: grey;
    border: 2px solid grey;
}

/* TOUR /////////////////////////////////////////////// */

.tour {
    width: 100%;
    height: 100vh;
}

.show-container {
    margin: 0 auto;
    height: 9%;
    width: 80%;
    border-bottom: 2px solid rgb(104, 104, 104);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column-title,
.column {
    width: 15%;
    color: grey;
    text-align: center;
}

.column {
    color: rgb(235, 235, 235);
    text-decoration: none;
}

/* GALLERY ////////////////////////////////////// */

.card {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    width: 100%;
    height: 100vh;
}

.img-view {
    height: 65%;
    border: 2px solid rgb(65, 65, 65);
    object-fit: cover;
    filter: grayscale();
    cursor: pointer;
    box-shadow: 5px 5px 15px 0px rgb(31, 31, 31);
    transition: filter 0.3s ease-in-out;
}

.img-view:hover {
    filter: brightness();
}

.card-desc {
    color: rgb(235, 235, 235);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.card-desc:hover {
    color: grey;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    height: 50%;
}

.live-modal,
.otr-modal {
    object-fit: cover;
    height: 80%;
    width: 90%;
    position: fixed;
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    top: 10%;
    left: 5%;
    z-index: 3;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}

.live-modal,
.otr-modal {
    object-fit: cover;
    height: 80%;
    width: 90%;
    position: fixed;
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    top: 10%;
    left: 5%;
    z-index: 3;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}

.images-slide,
.otr-slide {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
}

/* STORE ///////////////////////////////////// */

.store {
    width: 100%;
    min-height: 100vh;
}

.store-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.item-wrapper {
    width: 50%;
    display: flex;
}

.products {
    width: 50%;

    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 5%;
    width: 100%;
    margin-left: 5%;
}

.item-img {
    border: 1px solid grey;
    height: 150px;
    width: 90%;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0px grey;
    position: relative;
    transition: filter 0.3s ease-in-out;
}

.item-img:hover {
    filter: brightness(0.4);
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px grey;
    top: 1px;
}

.form-container {
    width: 50%;
}

.success {
    width: 15%;
    text-align: center;
    color: rgb(235, 235, 235);
}

p {
    color: rgb(235, 235, 235);
}

.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.registration,
.login,
.reset,
.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}
.cart {
    height: 100%;
    width: 50%;
}

.empty {
    color: grey;
}

.cart-container {
    width: 90%;
    margin: 0 auto;
    max-height: 45vh;
    overflow-y: scroll;
}
.code,
.login-title,
.cart-title {
    text-align: center;
    color: rgb(235, 235, 235);
}

.reg-form,
.edit-form,
.login-form,
.reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.shop-general {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.small-pic {
    height: 75px;
    width: 60px;
    object-fit: cover;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px 0px grey;
}

.item-container,
.resume-container {
    border-bottom: 2px solid #808080;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1%;
    padding-top: 1%;
}

.resume-container {
    margin: 0 auto;
}

.address {
    color: grey;
    font-size: 14px;
}

.thankyou-modal,
.tshirt-modal,
.longsleeve-modal,
.tape-modal {
    width: 80%;
    height: 90%;
    border: 3px solid black;
    background-image: url("image.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    border-radius: 15px;
    position: fixed;
    top: 5%;
    left: 10%;
    z-index: 3;
    max-height: 90%;
    overflow-y: scroll;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}
.tape-modal {
    overflow-x: scroll;
}

.confirm-modal {
    width: 40%;
    border: 1px solid black;
    background-image: url("image.jpg");
    background-size: cover;
    border-radius: 15px;
    position: fixed;
    top: 35%;
    left: 30%;
    z-index: 3;
    height: 20%;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}

.vinyl-modal {
    width: 80%;
    height: 90%;
    border: 3px solid black;
    background-image: url("image.jpg");
    background-size: cover;
    object-fit: cover;
    border-radius: 15px;
    position: fixed;
    top: 5%;
    left: 10%;
    z-index: 3;
    max-height: 90%;
    overflow: hidden;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}

.total {
    float: right;
}

.thanks {
    text-align: center;
    color: rgb(235, 235, 235);
}

.order-container {
    margin: 0 auto;
    width: 90%;
}

#x-modal,
#x-gallery-modal,
#x-conf-modal {
    position: fixed;
    top: 6%;
    right: 11%;
    color: gray;
    font-size: 30px;
    cursor: pointer;
    font-family: "Righteous";
    z-index: 5;
    transition: color 0.3s ease-in-out;
}

#x-gallery-modal {
    top: 11%;
    right: 6%;
}

#x-conf-modal {
    font-size: 20px;
    top: 36%;
    right: 31%;
}
#x-conf-modal:hover,
#x-modal:hover,
#x-gallery-modal:hover {
    color: rgb(77, 77, 77);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    z-index: 2;
    transition-property: background;
    transition: 0.2s ease-in-out;
    background: rgba(90, 90, 90, 0.842);
}

.sold-out {
    color: grey;
}

.merch-card {
    width: 45%;
}

.description {
    height: 200px;
    width: 55%;
}

.description p {
    width: 100%;
}

.item-name {
    width: 40%;
}

.reg-error,
.error {
    text-align: center;
    font-size: 16px;
    color: rgb(153, 17, 17);
}
.reg-error {
    width: 40%;
}

input {
    border: none;
    border-bottom: 2px solid rgb(82, 82, 82);
    background-color: transparent;
    width: 50%;
    height: 30px;
    font-size: 20px;
    outline: none;
    display: block;
    font-family: AA_typewriter;
    color: rgb(235, 235, 235);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(235, 235, 235);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus {
    background-color: transparent;
}

.reg-title {
    color: rgb(235, 235, 235);
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12.5%;
}

.livephoto,
.otrphoto,
.tapephto,
.tshirtphoto,
.vinylphoto,
.longsleevephoto {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
}

.prev-btn {
    position: absolute;
    top: 47%;
    left: 2%;
    z-index: 4;
    height: 30px;
    transition: filter 0.3s ease-in-out;
}

.next-btn {
    position: absolute;
    top: 47%;
    right: 2%;
    z-index: 4;
    height: 30px;
    transition: filter 0.3s ease-in-out;
}

.next-btn:hover,
.prev-btn:hover {
    filter: brightness(0.4);
    cursor: pointer;
}

select {
    height: 25px;
    width: 90%;
    background-color: transparent;
    font-family: AA_typewriter;
    border: 1px solid rgb(235, 235, 235);
    color: rgb(235, 235, 235);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 1px 1px 1px 0px rgba(231, 231, 231, 0.58);
    transition: all 0.3s ease-in-out;
}

button {
    background-color: transparent;
    color: rgb(235, 235, 235);
    font-family: AA_typewriter;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px;
    height: 25px;
    width: 100px;
    outline: none;
    box-shadow: 0 2px rgba(172, 172, 172, 0.58);
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

select:hover,
button:hover,
.listen:hover {
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
}

button:hover,
.listen:hover {
    box-shadow: 0 1px rgba(236, 236, 236, 0.58);
    top: 1px;
}

button:active,
.item-img:active,
.listen:active {
    box-shadow: 0 0 rgba(236, 236, 236, 0.58);
    top: 2px;
}

.addtocart {
    margin-left: 10%;
    margin-top: 6%;
    width: 70%;
}

.submit-btn {
    margin-top: 2%;
    margin-left: 14%;
}

.conf-btn {
    display: inline-block;
    width: 25%;
    margin-left: 16.5%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.reg-btn {
    margin-top: 5%;
}

.temp-total {
    float: right;
    margin-right: 14%;
    font-size: 18px;
}

.item-desc {
    width: 15%;
}

.already {
    margin-top: 5%;
}

.login-link,
.logout-link,
.edit-link {
    text-decoration: none;
    color: grey;
}

.edit-link {
    float: right;
}

.empty-icon {
    margin-right: 10px;
    height: 30px;
}

.success-msg {
    text-align: center;
    margin-top: 15%;
    color: rgb(235, 235, 235);
}

.greyed {
    color: grey;
    cursor: default;
}

.user-info {
    border-bottom: 2px solid #808080;
    padding-bottom: 1%;
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 1500px) {
    .card-container {
        justify-content: space-around;
    }
    .card-desc {
        font-size: 30px;
    }
    .headlines {
        padding-top: 7%;
    }
    .item-img {
        height: 220px;
    }
    p {
        font-size: 24px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 32px;
    }
    .submit-btn {
        width: 150px;
    }
    select,
    button {
        height: 35px;
        font-size: 18px;
    }
    .album {
        height: 45%;
    }
}

@media screen and (max-width: 1150px) and (orientation: portrait) {
    .days {
        font-size: 220%;
    }
    .album {
        height: 40%;
    }
    .img-view {
        height: 40%;
    }

    .tour,
    .gallery,
    .store {
        padding-top: 5%;
    }
    .addtocart {
        width: 80%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 820px) and (orientation: landscape) {
    .our {
        font-size: 175%;
    }

    .days {
        font-size: 200%;
    }

    .listen {
        width: 90px;
        height: 30px;
        font-size: 15px;
    }
    .album {
        height: 55%;
    }
    header {
        height: 15%;
    }
    footer {
        height: 9%;
    }
    .social-logo {
        height: 20px;
    }
    .headlines {
        font-size: 220%;
        padding-top: 9%;
        margin-bottom: 1%;
    }
    .show-container {
        width: 90%;
        height: 8%;
    }
    .column-title,
    .column {
        width: 25%;
        font-size: 12px;
    }
    .img-view {
        height: 70%;
    }
    .card-desc {
        font-size: 15px;
    }
    .next-btn,
    .prev-btn {
        height: 20px;
    }
    #x-modal,
    #x-gallery-modal,
    #x-conf-modal {
        font-size: 20px;
    }
    #x-conf-modal {
        visibility: hidden;
    }
    .shop-general {
        flex-direction: column;
    }
    .products {
        width: 90%;
    }
    .row {
        margin-left: 0;
    }
    .registration,
    .login,
    .reset,
    .edit {
        padding-bottom: 5%;
        width: 90%;
    }
    .cart {
        min-height: 100vh;
        width: 100%;
    }
    input {
        width: 40%;
    }
    .empty-cart {
        margin: 0;
    }
    .cart-container {
        max-height: 40vh;
    }
    .confirm-modal {
        width: 50%;
        height: 35%;
        left: 25%;
        top: 32.5%;
    }
    h3 .thanks {
        font-size: 18px;
    }
}

@media screen and (max-width: 780px) and (orientation: portrait) {
    .card {
        height: 175px;
        width: 150px;
        margin-bottom: 35%;
    }

    .card-desc:hover {
        color: grey;
    }

    .card-container {
        height: 100%;
        width: 60%;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 0;
    }

    .gallery {
        padding-top: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .live-modal,
    .otr-modal,
    .vinyl-modal {
        height: auto;
        top: 30%;
        left: 5%;
    }

    .vinyl-modal {
        left: 10%;
    }

    .confirm-modal {
        width: 80%;
        left: 10%;
    }

    #x-conf-modal,
    #x-modal,
    #x-gallery-modal {
        display: none;
    }

    .prev-btn,
    .next-btn {
        height: 20px;
    }

    .prev-btn:hover,
    .next-btn:hover {
        color: rgb(235, 235, 235);
    }

    .images-slide,
    .otr-slide {
        width: 100%;
        display: flex;
        object-fit: cover;
    }
    .home {
        padding-top: 10%;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    #container {
        width: 100%;
    }
    .album {
        height: 33%;
    }

    .registration,
    .login,
    .reset,
    .cart,
    .edit {
        width: 100%;
    }

    .message {
        width: 100%;
        justify-content: flex-start;
        height: 40%;
        padding-bottom: 10%;
    }
    .days {
        font-size: 220%;
        text-align: center;
    }

    .headlines {
        font-size: 220%;
    }
    .shop-general {
        flex-direction: column;
    }

    .registration {
        width: 100%;
    }

    .img-view {
        height: 80%;
    }

    .social-logo {
        margin-right: 8px;
        height: 13px;
        transition: filter 0.3s ease-in-out;
    }

    .copyright {
        font-size: 13px;
        margin-left: 10px;
    }

    .head-links {
        font-size: 100%;
    }

    .logos {
        margin-right: 5px;
        margin-top: 2px;
    }

    .tour,
    .gallery {
        padding-top: 6%;
    }

    .show-container {
        width: 90%;
        height: 9%;
    }

    .column,
    .column-title {
        font-size: 10px;
        width: 25%;
    }

    .column-title {
        font-size: 10px;
    }

    .store {
        height: 155vh;
        padding-top: 6%;
    }

    .products {
        width: 100%;
        overflow: hidden;
        padding-bottom: 10%;
    }

    input {
        height: 25px;
        font-size: 15px;
    }

    .item-img {
        height: 96px;
        width: 80px;
    }

    .item-name,
    .sold-out {
        width: 100px;
        font-size: 10px;
        margin-left: 5px;
    }

    .item-desc {
        font-size: 10px;
        margin-left: 10px;
    }

    .success {
        font-size: 10px;
    }

    .addtocart,
    select {
        width: 80px;
        margin-left: 0;
        font-size: 10px;
    }

    .row {
        justify-content: flex-start;
        margin-left: 2%;
    }

    .description {
        height: 160px;
        width: 100px;
    }

    .sold-out {
        font-size: 10px;
    }

    .hello,
    .edit-link,
    .logout-link {
        font-size: 12px;
    }

    .temp-total {
        font-size: 14px;
    }
}
