body {
    background-color: rgb(185, 185, 185);
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "Righteous";
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    cursor: pointer;
}

.users-container,
.results-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 300px;
    z-index: 4;
    flex-grow: 1;
    height: 280px;
}

.error {
    color: rgb(151, 40, 20);
    text-align: center;
}

.no-results-img {
    height: 200px;
    margin-top: 40px;
}

.results-container {
    min-height: 280px;
    max-height: 280px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo,
.avatar,
.res-avatar {
    height: 60px;
    width: 60px;
    object-fit: cover;
    cursor: pointer;
}

.avatar {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgb(185, 185, 185);
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.res-avatar {
    margin-right: 15px;
    border-radius: 50%;
}

.name {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

.find,
.hello,
.logout,
.friends-link,
.chat-link {
    text-decoration: none;
    color: rgb(185, 185, 185);
    display: inline-block;
    position: absolute;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 12px;
}

.friends-link {
    margin-top: 32px;
}

.chat-link {
    margin-top: 54px;
}

.logout {
    margin-top: 45px;
    right: 90px;
    font-size: 20px;
}

.hello {
    position: absolute;
    float: right;
    right: 90px;
    font-size: 20px;
}

.head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(26, 26, 26);
    overflow: hidden;
}

.container {
    width: 100%;
    top: 80px;
    bottom: 50px;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.find-people {
    height: 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    height: 138px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

footer {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(26, 26, 26);
}

button {
    border-radius: 10px;
    font-family: "Righteous";
    background-color: rgb(185, 185, 185);
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    height: 30px;
    font-size: 18px;
}

.friend-btn {
    font-size: 14px;
    height: 26px;
    text-align: center;
}

.red {
    color: rgb(126, 10, 10);
    border: 2px solid rgb(126, 10, 10);
}

.green {
    color: rgb(22, 99, 45);
    border: 2px solid rgb(22, 99, 45);
}

.elrappo {
    margin-left: 10px;
    color: rgb(185, 185, 185);
}

.modal-title {
    text-align: center;
}

.modal {
    width: 45%;
    height: 40%;
    z-index: 2;
    border: 3px solid black;
    border-radius: 15px;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(126, 10, 10);
}

.img-modal {
    height: 150px;
    width: 200px;
    object-fit: cover;
}

#x-modal {
    position: absolute;
    top: 5px;
    right: 20px;
    color: gray;
    font-size: 30px;
    cursor: pointer;
    font-family: "Righteous";
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgb(26, 26, 26);
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}

.friends,
.wannabes {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friends-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.profile-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100px;
    width: 100%;
}

.user {
    height: 200px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.friend-avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.heading {
    margin-left: 30px;
    margin-top: 10px;
}

.friends-error {
    margin-left: 30px;
    color: rgb(126, 10, 10);
}

.chat-container {
    height: 300px;
    width: 600px;
    overflow-y: scroll;
    margin-top: 200px;
}
