body {
    background-color: rgb(185, 185, 185);
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "Righteous";
}

.profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    cursor: pointer;
}

.logo,
.avatar {
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-top: 10px;
    cursor: pointer;
}

.avatar {
    float: right;
    margin-right: 10px;
}

.logo {
    margin-left: 10px;
}

.head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(10, 10, 10);
    overflow: hidden;
}

.container {
    margin-top: 80px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(26, 26, 26);
}

.elrappo {
    margin-left: 10px;
    color: rgb(185, 185, 185);
}

.modal-title {
    text-align: center;
}

.modal {
    width: 50%;
    height: 40%;
    z-index: 2;
    border: 3px solid black;
    border-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(126, 10, 10);
}

#x-modal {
    position: absolute;
    top: 5px;
    right: 20px;
    color: gray;
    font-size: 30px;
    cursor: pointer;
    font-family: "Righteous";
}

button {
    cursor: pointer;
}
