body {
    margin: 0;
    font-family: AA_typewriter;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden;
}
@font-face {
    font-family: AA_typewriter;
    src: url("/AA_typewriter.ttf");
}

.container {
    background-image: url("image.jpg");
    background-size: cover;
}

header {
    height: 9%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.899);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    justify-content: space-evenly;
}
.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
html {
    scroll-behavior: smooth;
}

.head-links {
    color: rgb(235, 235, 235);
    display: block;
    font-size: 120%;
    text-decoration: none;
}

.head-links:hover {
    color: grey;
}

.greyed {
    color: grey;
    cursor: default;
}

footer {
    height: 6%;
    width: 100%;
    color: rgb(235, 235, 235);
    background-color: rgba(0, 0, 0, 0.899);
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin-left: 20px;
}

.logos {
    margin-right: 20px;
    margin-top: 2px;
}

.social-logo {
    margin-right: 10px;
    height: 30px;
}

.empty-icon {
    margin-right: 10px;
    height: 30px;
}

.social-logo:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.album {
    height: 55%;
    overflow: hidden;
    border: 2px solid rgba(20, 20, 20, 0.842);
}

.message {
    color: rgb(235, 235, 235);
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.days {
    font-size: 320%;
    margin-top: 1%;
    padding-top: 1%;
    margin-bottom: 1%;
}

.listen {
    text-decoration: none;
    color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
    border-radius: 2px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listen:hover {
    color: grey;
    border: 2px solid grey;
}

.headlines {
    color: rgb(235, 235, 235);
    padding-top: 6%;
    text-align: center;
    font-size: 320%;
}
.tour-headline {
    color: rgb(235, 235, 235);
    padding-top: 3%;
    text-align: center;
    font-size: 320%;
}

.tour {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.show-container {
    height: 10%;
    width: 60%;
    border-bottom: 2px solid rgb(104, 104, 104);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column-title {
    width: 15%;
    color: grey;
}

.column {
    width: 15%;
    color: rgb(235, 235, 235);
}

.card {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-view {
    height: 80%;
    border: 2px solid rgba(20, 20, 20, 0.842);
    object-fit: cover;
    filter: grayscale();
    cursor: pointer;
}

.card-desc {
    color: rgb(235, 235, 235);
    cursor: pointer;
}

.card-desc:hover {
    color: grey;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7%;
}

.gallery {
    width: 100%;
    height: 100vh;
}

.img-view:hover {
    filter: brightness();
}

.store {
    min-height: 100vh;
    width: 100%;
}

.store-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.shop {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.merch-card  {
    display: flex;
    border: 1px solid rgb(235, 235, 235);
    height: 200px;
    max-height: 240px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 4%;
}

.form-container {
    width: 50%;
}

.item-img {
    border: 1px solid grey;
    height: 150px;
    width: 118px;
    object-fit: cover;
}

.item-img:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.success {
    color: rgb(235, 235, 235);
}

p {
    color: rgb(235, 235, 235);
}

.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart,
.registration,
.login {
    position: absolute;
    left: 50%;
    top: 333%;
    width: 50%;
    max-height: 70vh;
}

.registration {
    top: 332%;
}

.cart-container {
    max-height: 45vh;
    overflow-y: scroll;
}

.login-title,
.cart-title {
    text-align: center;
    color: rgb(235, 235, 235);
}

.login-form {
    margin-left: 33%;
    margin-top: 10%;
}

.reg-form {
    margin-left: 25%;
}

.shop-general {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.small-pic {
    height: 75px;
    width: 60px;
    object-fit: cover;
    border: 1px solid grey;
}

.item-container,
.resume-container {
    border-bottom: 2px solid #808080;
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1%;
    padding-top: 1%;
}

.resume-container {
    padding-left: 5%;
}

.address {
    color: grey;
    font-size: 14px;
}

.thankyou-modal,
.tshirt-modal,
.longsleeve-modal,
.tape-modal {
    width: 80%;
    border: 3px solid black;
    background-image: url("image.jpg");
    background-size: cover;
    border-radius: 15px;
    position: absolute;
    top: 315%;
    left: 10%;
    z-index: 3;
    max-height: 90%;
    overflow-y: scroll;
}

.thankyou-modal {
    border: 3px solid grey;
}

.vinyl-modal {
    width: 80%;
    border: 3px solid rgb(235, 235, 235);
    background-image: url("image.jpg");
    background-size: cover;
    border-radius: 15px;
    position: absolute;
    top: 315%;
    left: 10%;
    z-index: 3;
    max-height: 90%;
    overflow: hidden;
}

.total {
    float: right;
    margin-right: 10%;
}

.thanks {
    text-align: center;
    color: rgb(235, 235, 235);
}

.order-container {
    margin-left: 9%;
}

#x-modal {
    position: absolute;
    top: 5px;
    right: 20px;
    color: gray;
    font-size: 30px;
    cursor: pointer;
    font-family: "Righteous";
    z-index: 5;
}

#x-modal:hover {
    color: rgb(77, 77, 77);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(90, 90, 90, 0.842);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

button {
    display: block;
}

.sold-out {
    color: grey;
}

.description {
    height: 200px;
    width: 140px;
}

.item-name {
    width: 150px;
}

.error {
    font-size: 14px;
    color: rgb(122, 27, 27);
}

input {
    border: none;
    border-bottom: 2px solid rgb(82, 82, 82);
    background-color: transparent;
    width: 50%;
    height: 30px;
    font-size: 20px;
    outline: none;
    display: block;
    font-family: AA_typewriter;
    color: rgb(235, 235, 235);
}

.reg-title {
    color: rgb(235, 235, 235);
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.livephoto,
.otrphoto,
.tapephto,
.tshirtphoto,
.vinylphoto,
.longsleevephoto {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.tapephto {
    object-fit: contain;
}

.vinylphoto {
    height: 100%;
    width: 100%;
}

.live-modal,
.otr-modal {
    object-fit: cover;
    height: 80%;
    width: 90%;
    position: absolute;
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    top: 214%;
    left: 5%;
    z-index: 3;
}

.images-slide,
.otr-slide {
    width: 100%;
    display: flex;
    object-fit: cover;
}

.prev-btn {
    position: absolute;
    top: 47%;
    left: 2%;
    z-index: 4;
    height: 30px;
}

.next-btn {
    position: absolute;
    top: 47%;
    right: 2%;
    z-index: 4;
    height: 30px;
}

.next-btn:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.prev-btn:hover {
    filter: brightness(0.5);
    cursor: pointer;
}
