body {
    margin: 0;
    font-family: AA_typewriter;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden;
}
@font-face {
    font-family: AA_typewriter;
    src: url("/AA_typewriter.ttf");
}

html {
    scroll-behavior: smooth;
}

.container {
    background-image: url("image.jpg");
    background-size: cover;
}

/* APP///////////////////////////////////////////////// */

header {
    height: 9%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.899);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    justify-content: space-evenly;
}

.head-links {
    color: rgb(235, 235, 235);
    display: block;
    font-size: 120%;
    text-decoration: none;
}

.head-links:hover {
    color: grey;
}

footer {
    height: 6%;
    width: 100%;
    color: rgb(235, 235, 235);
    background-color: rgba(0, 0, 0, 0.899);
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logos {
    margin-right: 20px;
    margin-top: 2px;
}

.social-logo {
    margin-right: 10px;
    height: 30px;
}

.social-logo:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.copyright {
    margin-left: 20px;
}

.headlines {
    color: rgb(235, 235, 235);
    padding-top: 6%;
    text-align: center;
    font-size: 320%;
}

/* HOME ////////////////////////////////////////////// */

.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.album {
    height: 55%;
    overflow: hidden;
    border: 2px solid rgba(20, 20, 20, 0.842);
    box-shadow: 5px 5px 15px 0px rgb(26, 26, 26);
}

.message {
    color: rgb(235, 235, 235);
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.days {
    font-size: 320%;
    margin-top: 1%;
    padding-top: 1%;
    margin-bottom: 1%;
}

.listen {
    text-decoration: none;
    color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
    border-radius: 2px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listen:hover {
    color: grey;
    border: 2px solid grey;
}

.tour-headline {
    color: rgb(235, 235, 235);
    padding-top: 3%;
    text-align: center;
    font-size: 320%;
}

/* TOUR /////////////////////////////////////////////// */

.tour {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.show-container {
    height: 10%;
    width: 60%;
    border-bottom: 2px solid rgb(104, 104, 104);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column-title {
    width: 15%;
    color: grey;
}

.column {
    width: 15%;
    color: rgb(235, 235, 235);
    text-decoration: none;
}

/* GALLERY ////////////////////////////////////// */

.card {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    width: 100%;
    height: 100vh;
}

.img-view {
    height: 80%;
    border: 2px solid rgb(65, 65, 65);
    object-fit: cover;
    filter: grayscale();
    cursor: pointer;
    box-shadow: 5px 5px 15px 0px rgb(31, 31, 31);
}

.img-view:hover {
    filter: brightness();
}

.card-desc {
    color: rgb(235, 235, 235);
    cursor: pointer;
}

.card-desc:hover {
    color: grey;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7%;
}

.live-modal,
.otr-modal {
    object-fit: cover;
    height: 80%;
    width: 90%;
    position: absolute;
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    top: 214%;
    left: 5%;
    z-index: 3;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}

.images-slide,
.otr-slide {
    width: 100%;
    display: flex;
    object-fit: cover;
}
.live-modal,
.otr-modal {
    object-fit: cover;
    height: 80%;
    width: 90%;
    position: absolute;
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    top: 214%;
    left: 5%;
    z-index: 3;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}

.images-slide,
.otr-slide {
    width: 100%;
    display: flex;
    object-fit: cover;
}

/* STORE ///////////////////////////////////// */

.store {
    min-height: 100vh;
    width: 100%;
}

.store-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.shop {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* .merch-card  {
    display: flex;
    border: 1px solid rgb(235, 235, 235);
    height: 200px;
    max-height: 240px;
} */

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 3%;
}

.item-img {
    border: 1px solid grey;
    height: 150px;
    width: 118px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0px grey;
}

.item-img:hover {
    filter: brightness(0.5);
    cursor: pointer;
    border: 1px solid grey;
}

.form-container {
    width: 50%;
}

.success {
    color: rgb(235, 235, 235);
}

p {
    color: rgb(235, 235, 235);
}

.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart,
.registration,
.login,
.reset-form {
    position: absolute;
    left: 50%;
    top: 333%;
    width: 50%;
    max-height: 70vh;
}

.registration {
    top: 332%;
}

.cart-container {
    max-height: 45vh;
    overflow-y: scroll;
}

.login-title,
.cart-title {
    text-align: center;
    color: rgb(235, 235, 235);
}

.login-form {
    margin-left: 33%;
    margin-top: 10%;
}

.reg-form {
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.shop-general {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.small-pic {
    height: 75px;
    width: 60px;
    object-fit: cover;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px 0px grey;
}

.item-container,
.resume-container {
    border-bottom: 2px solid #808080;
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1%;
    padding-top: 1%;
}

.resume-container {
    padding-left: 5%;
}

.address {
    color: grey;
    font-size: 14px;
}

.thankyou-modal,
.tshirt-modal,
.longsleeve-modal,
.tape-modal {
    width: 80%;
    border: 3px solid black;
    background-image: url("image.jpg");
    background-size: cover;
    border-radius: 15px;
    position: absolute;
    top: 315%;
    left: 10%;
    z-index: 3;
    max-height: 90%;
    overflow-y: scroll;
    overflow-x: scroll;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}

.confirm-modal {
    width: 40%;
    border: 1px solid black;
    background-image: url("image.jpg");
    background-size: cover;
    border-radius: 15px;
    position: absolute;
    top: 335%;
    left: 30%;
    z-index: 3;
    max-height: 90%;
    overflow-y: scroll;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}

.vinyl-modal {
    width: 80%;
    border: 3px solid black;
    background-image: url("image.jpg");
    background-size: cover;
    object-fit: cover;
    border-radius: 15px;
    position: absolute;
    top: 315%;
    left: 10%;
    z-index: 3;
    max-height: 90%;
    overflow: hidden;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
}

.total {
    float: right;
    margin-right: 10%;
}

.thanks {
    text-align: center;
    color: rgb(235, 235, 235);
}

.order-container {
    margin-left: 9%;
}

#x-modal,
#x-conf-modal {
    position: fixed;
    top: 6%;
    right: 11%;
    color: gray;
    font-size: 30px;
    cursor: pointer;
    font-family: "Righteous";
    z-index: 5;
}

#x-conf-modal {
    font-size: 20px;
}
#x-conf-modal:hover,
#x-modal:hover {
    color: rgb(77, 77, 77);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(90, 90, 90, 0.842);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

button {
    display: block;
}

.sold-out {
    color: grey;
}

.description {
    height: 200px;
    width: 140px;
}

.item-name {
    width: 150px;
}

.reg-error,
.error {
    font-size: 16px;
    color: rgb(153, 17, 17);
}
.reg-error {
    width: 40%;
}

input {
    border: none;
    border-bottom: 2px solid rgb(82, 82, 82);
    background-color: transparent;
    width: 50%;
    height: 30px;
    font-size: 20px;
    outline: none;
    display: block;
    font-family: AA_typewriter;
    color: rgb(235, 235, 235);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(235, 235, 235);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus {
    background-color: transparent;
}

.reg-title {
    color: rgb(235, 235, 235);
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.livephoto,
.otrphoto,
.tapephto,
.tshirtphoto,
.vinylphoto,
.longsleevephoto {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.prev-btn {
    position: absolute;
    top: 47%;
    left: 2%;
    z-index: 4;
    height: 30px;
}

.next-btn {
    position: absolute;
    top: 47%;
    right: 2%;
    z-index: 4;
    height: 30px;
}

.next-btn:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.prev-btn:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

select {
    height: 25px;
    width: 120px;
    background-color: transparent;
    font-family: AA_typewriter;
    border: 1px solid rgb(235, 235, 235);
    color: rgb(235, 235, 235);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 1px 1px 1px 0px rgba(231, 231, 231, 0.58);
}

button {
    background-color: transparent;
    color: rgb(235, 235, 235);
    font-family: AA_typewriter;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px;
    height: 25px;
    width: 100px;
    outline: none;
    box-shadow: 1px 1px 1px 0px rgba(236, 236, 236, 0.58);
}
select:hover,
button:hover {
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
}

.addtocart {
    margin-top: 8px;
    margin-left: 10px;
}

.submit-btn {
    margin-top: 17px;
}

.conf-btn {
    display: inline-block;
    width: 25%;
    margin-left: 16.5%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.reg-btn {
    width: 20%;
    margin-top: 5%;
    margin-left: 15%;
}

.temp-total {
    float: right;
    margin-right: 19%;
    font-size: 18px;
}

.item-desc {
    width: 150px;
}

.already {
    min-width: 50%;
    margin-top: 3.5%;
}

.login-link {
    text-decoration: none;
    color: grey;
}

.empty-icon {
    margin-right: 10px;
    height: 30px;
}

.success-msg {
    text-align: center;
    margin-top: 25%;
    color: rgb(235, 235, 235);
}

.greyed {
    color: grey;
    cursor: default;
}

@media screen and (min-width: 1280px) {
    .tour {
        padding-top: 1%;
    }
    .vinyl-modal,
    .tape-modal,
    .tshirt-modal,
    .longsleeve-modal {
        top: 312.5%;
    }
    .vinyl-modal {
        width: 70%;
        top: 321%;
        left: 15%;
    }
    .img-view {
        margin-top: 50%;
        height: 100%;
    }
    .card-container {
        justify-content: space-around;
    }
    .card-desc {
        font-size: 30px;
    }
}
